// common
$black: rgba(40, 44, 51, 1);
$white: rgba(245, 245, 245, 1);

// background
$paper: rgba(245, 245, 245, 1);
$default: #fafafa;

// primary
$primary_light: rgba(207, 173, 239, 1);
$primary_main: rgba(181, 108, 244, 1);
$primary_dark: rgba(160, 64, 246, 1);
$primary_contrast_text: #fff;

// secondary
$secondary_light: rgba(232, 175, 241, 1);
$secondary_main: rgba(221, 143, 236, 1);
$secondary_dark: rgba(213, 107, 233, 1);
$secondary_contrast_text: #fff;

// error
$error_light: #e57373;
$error_main: rgba(235, 89, 72, 1);
$error_dark: #d32f2f;
$error_contrast_text: #fff;

// text
$text_primary: rgba(40, 44, 51, 1);
$text_secondary: rgba(92, 95, 99, 1);
$text_disabled: rgba(146, 149, 153, 1);
$text_hint: rgba(132, 137, 148, 1);

