.top-bar {
    .top-bar-img {
        margin-right: 10px;
    }

    .search-container {
        @media (max-width: 1035px) {
            & {
                max-width: 205px;
            }
        }
    }

    .search-container {
        @media (max-width: 960px) {
            & {
                display: none;
            }
        }
    }
}

// has to be global for mobile dropdown since it renders outside of the .top-bar container
.safe-portal-icon {
    height: 30px !important;
}

.search-container-mobile {
    display: none !important;
    border: 1px solid red;

    @media (max-width: 960px) {
        & {
            display: block !important;
        }
    }
}